<!DOCTYPE html>
<html>
<head>
	<title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img id="aboutimg" src="/img/heisenberg.jpg" alt="Heisenberg">
		<p class="new-font">Hi! This is a weather app created by Divyanshu Singh. It is built using Node.js and Express.</p>
		<p>It uses data from <a href="https://openweathermap.org/" id="API-link" target="_blank">OpenWeatherMap</a> API.</p>
	</div>
	{{>footer}}
</body>
</html>