<!DOCTYPE html>
<html>
<head>
	<title>Help page</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="new-font">{{description}}</p>
    </div>
    {{>footer}}
</body>
</html>